.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #fff;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border: 3px solid #000;

  padding: 10px 0;
  box-sizing: border-box;
}

/* Buttons */
.nav-btn {
  border: 3px solid #000;
  background: white;
  width: 55px;
  height: 55px;

  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: black;

  transition: 0.2s;
}

.nav-btn:hover {
  background: #f0f0f0;
}

/* Oval text buttons */
.nav-btn.oval {
  width: auto;
  padding: 0 22px;
  height: 50px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
}

/* Icons */
.icon {
  font-size: 28px;
  font-weight: bold;
}